.now {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  position: relative;
}

.now_wrap {
  margin: 0 auto;
  padding: 56px 16px;
  position: relative;
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;

  gap: 24px;
}
.now_top {
  margin-left: 8px;

  position: relative;
  width: 100%;
  font-size: 23px;
  font-weight: 700;
  color: #1c1c1c;
  line-height: 1.5;
}
.now_top span {
  position: relative;
  color: #5a64f9;
}
.now_bottom {
  display: flex;
  justify-content: center;
  position: relative;
}

.now_list {
  display: flex;
  /* gap: 8px; */
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  gap: 8px;
}
.now_item {
  display: flex;
  flex-direction: column;
  border-radius: 20px;

  padding: 8px 9px 12px;
  width: 242px;
  height: 351px;
}
.now_image {
  overflow: hidden;
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  
  border: 1px solid #e5e7eb;
}
.now_image::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(152, 152, 175, 0.05);
  overflow: hidden;
}
.now_image img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  border-radius: 10px;
  object-fit: cover;
}
.now_title {
  padding-top: 12px;
}
.now_title_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.now_top_blue {
  padding: 5px;
  background-color: #e7ebfe;
  font-size: 11px;
  font-weight: 500;
  color: #4375f4;
  border-radius: 4px;
}
.now_top_purple {
  padding: 5px;
  background-color: #f2eefb;
  font-size: 11px;
  font-weight: 500;
  color: #5f26cd;
  border-radius: 4px;
}
.now_top_red {
  margin-right: 4px;
  padding: 5px;
  background-color: #fff3f3;
  font-size: 11px;
  font-weight: 500;
  color: #fe6d6d;
  border-radius: 4px;
}
.now_top_gray {
  padding: 5px;
  background-color: #f2f2f2;
  font-size: 11px;
  font-weight: 500;
  color: #777;
  border-radius: 4px;
}
.now_top_ad {
  display: inline-flex;
  align-items: center; /* 세로 가운데 정렬 */
  justify-content: center; /* 가로 가운데 정렬 */
  padding: 4px;
  height: 15px;
  background-color: #dedee5;
  font-size: 10px;
  font-weight: 500;
  color: #fff;
  border-radius: 999px;
  box-sizing: border-box;
}
.now_title_middle {
  display: flex;
  /* white-space: nowrap; */
  display: -webkit-box;
  padding-top: 4px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 500;
  line-height: 140%;
  color: #444;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* 2줄 이상일땐 숫자를 변경 */
  -webkit-box-orient: vertical;
  height: 45px;
}
.now_up {
  display: inline-flex;
  align-items: center; /* 세로 가운데 정렬 */
  justify-content: center; /* 가로 가운데 정렬 */
  padding: 1.5px 3px;
  border: 1px solid #f66a6d;
  height: 15px;
  font-size: 10px;
  font-weight: 700;
  color: #f67579;
  border-radius: 999px;
  box-sizing: border-box;
}
.now_title_bottom {
  padding-top: 9px;
  font-size: 17px;
  font-weight: 600;
  color: #1c1c1c;
  text-align: left;
}
.now_item_focus {
  background-color: #f1f1f1 !important;
}
.now_item_focus .now_image img {
  transform: scale(1.1);
}
