.banner_under {
  margin: 55px 0;
  padding: 10px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;

}
.banner_under ul {
    display: flex;
    justify-content: center;
    align-items: center;
    
  gap: 64px;
}
.banner_under ul li {
}
.banner_bt {
  position: relative;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.bt_image {
  width: 80px;
  height: 80px;
  border-radius: 28px;
  background-color: rgb(247 247 247);
}
.bt_image img {
  width: 100%;
  height: 100%;

  padding: 16px;
}
.bt_text {
  margin-top: 12px;
  font-size: 17px;
  color: #444;
  font-weight: 500;
  display: inline-block;
}
.bt_hot {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(-50%);
  background-color: #ff5247;
  color: #fff;
  padding: 3.5px 5px 4px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 4px;
}
.bt_focus {
  background-color: rgb(240, 241, 246) !important;
}
